*{
    padding: 0;
    margin: 0;
    font-family:  Helvetica,Arial, sans-serif;
}

:root{
    --yellow: #fffc00;
    --black:#000000;
    --grey: #bbbbbb;
    --white: #ffffff;
    --blue: #0d46d9;
}

body{
    background-color: #e4e3e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interface{
    border:  solid red 1px;
    width: 375px;
    height: 812px;
    margin: 20px 400px;
    background-color: #fff;
}

.interface .heading{
    width: auto;
    height: 88px;
    background-color: var(--yellow);
}

.interface .heading i{
    display: flex;
    justify-content: flex-end;
    font-size: 58px;
    padding: 15px ;
}


.interface .mainboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
}

.interface .mainboard h3{
    font-size: 24px;
    padding: 15px;
    font-weight: 400;
    margin: 10px;
}

.interface .mainboard button,
.interface .mainboard form #loging{
    width: 228px;
    height: 48px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    color: var(--yellow);
    background-color: var(--black);
    margin: 10px 0;
    border:none;
}

.interface .mainboard #p1{  
    color: var(--black);
    padding: 10px;
    font-size: 13px;
}

.interface .mainboard #p2{  
    color: var(--grey);
    padding: 10px;
    font-size: 18px;
}

.interface .mainboard form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interface .mainboard form #input{
    margin: 5px;
    width: 263px;
    max-height: 38px;
    border-bottom: solid var(--black) 1.3px;
    padding-bottom: 3px;
    margin: 25px;
}

.interface .mainboard form #input input{
    border: none;
    border-style: none;
}

.interface .mainboard form #p3{
    color: var(--blue);
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin: -15px -150px 30px 0;
}

.interface .mainboard form #loging{
    color:var(--white) ;
    background-color: var(--grey);
    border: none;
    margin: 30px;
    font-weight: 600;
}

.interface .mainboard #p4{
    font-size: 10px;
    /* margin-bottom: 150px; */
}